<h1>Seu Carrinho</h1>
<%= link_to 'Limpar carrinho', carrinho_limpar_path %>
<br><br><br>

<% total = 0 %>

<ul>
<% @carrinho.each do | id, quantity | %>
	<% produto = Produto.find_by_id(id) %>

	<li>	
		<%= link_to produto.titulo, produto %> 
		<p><%= produto.descricao %></p>
		<p><%= number_to_currency(produto.valor, :unit => 'R$') %><p>
		<p>Quantidade: <%= quantity %></p>	
	</li>
	<% total += quantity * produto.valor %>
<% end %>
<br>

<p><b><%= number_to_currency(total, :unit => 'R$') %></b></p>
</ul>