<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="nav">
	<div id="jogos_nav">
		<%= link_to "Home", root_path %>
		<%= link_to "Produtos", produtos_path %>
		<%= link_to "Sobre", jogos_sobre_path %>
		<%= link_to "Perguntas", jogos_perguntas_path %>
		<%= link_to "Contato", jogos_contato_path %>
	</div>
	
	<div id="entrar">	
		<% if usuario_signed_in? %>	
			<%= link_to "Sair", destroy_usuario_session_path, method: :delete %>
		<% else %>	
			<%= link_to "Entrar", new_usuario_session_path %>
			<%= link_to "Cadastrar", new_usuario_registration_path %>
		<% end %>
	</div>
</nav>
	
<div id="main_wrap">	
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
<%= yield %>
</div>
</body>
</html>
