<p id="notice"><%= notice %></p>

<h1>Listing Produtos</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Descricao</th>
      <th>Imagem_url</th>
      <th>Valor</th>
      <th>Categoria</th>
      <th>Subcategoria</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @produtos.each do |produto| %>
      <tr>
        <td><%= produto.titulo %></td>
        <td><%= produto.descricao %></td>
        <td><%= produto.imagem_url %></td>
        <td><%= produto.valor %></td>
        <td><%= produto.categoria %></td>
        <td><%= produto.subcategoria %></td>
        <td><%= link_to 'Mostrar', produto %></td>
        <td><%= link_to 'Editar', edit_produto_path(produto) %></td>
        <td><%= link_to 'Excluir', produto, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <td><a href="/carrinho/<%= produto.id %>" > Adicionar ao Carrinho</a></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Produto', new_produto_path %>
