<p id="notice"><%= notice %></p>
<h1>Sobre o produto</h1>
<br><br>
<p>
  <strong>Titulo:</strong>
  <%= @produto.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @produto.descricao %>
</p>

<p>
  <strong>Imagem url:</strong>
  <%= @produto.imagem_url %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @produto.valor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @produto.categoria %>
</p>

<p>
  <strong>Subcategoria:</strong>
  <%= @produto.subcategoria %>
</p>

<%= link_to 'Editar', edit_produto_path(@produto) %> |
<%= link_to 'Voltar', produtos_path %>
